.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  @media (max-width: $mobile) {
    min-height: 5px;
  }
  &.scroll {
    .header__wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
    .header__body{
      min-height: 50px;
      @media (min-width:$tablet){
        min-height: 70px;
      }
    }
  }
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    transition: all 0.3s ease 0s;
  }

  &__body {
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    position: relative;
    @media (max-width: $tablet) {
      min-height: 80px;
    }
    @media (max-width: $mobile) {
      min-height: 40px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    flex: 0 1 calc(494 / 1240) * 100%;
    @include adaptiv-value("column-gap", 15, 5, 1);
    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    line-height: 120.8333333333%;
    position: relative;
    z-index: 5;
  }

  &__search {
    @include adaptiv-value("padding-right", 32, 15, 1);
    @media (min-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  &__actions {
  }
}
.menu {
  flex: 0 1 420px;
  line-height: 120.8333333333%;
  &__body {
  }

  &__list {
    @media (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
    @media (any-hover: hover) {
      &:hover {
        .menu__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
    @media (min-width: $mobile) {
      &.hover {
        .menu__sub-list {
          transform: translate(0px 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
  }

  &__link {
    line-height: 24px;
    font-weight: 500;
    color: inherit;
    transition: color 0.3s ease 0s;
  }

  &__arrow {
    font-size: 8px;
    margin-left: 8px;
    transition: all 0.3s ease 0s;
    &._active {
      transform: rotate(-180deg);
    }
    @media (min-width: $mobile) {
      &::before {
        background-color: #fcf8f3;
      }
    }
    @media (max-width: $mobile) {
      &::before {
        background-color: #f9f1e7;
      }
    }
    @media (min-width: $tablet) {
      &::before {
        background-color: #f9f1e7;
      }
    }
  }

  &__sub-list {
    position: relative;
    background-color: $orangeColor;
    padding: 15px;
    flex: 1 1 100%;
    @media (min-width: $mobile) {
      opacity: 0;
      visibility: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      transform: translate(0px, 10px);
      min-width: 200px;
      left: 0;
      position: absolute;
      pointer-events: none;
      top: 100%;
      z-index: 5;
    }
  }

  &__sub-item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__sub-link {
    color: #fff;
    line-height: 120%;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.icon-arrow-down {
}
.search-form {
  max-width: 473px;
  &.active {
    .search-form__item {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
    .search-form__icon {
      color: $orangeColor;
    }
  }
  &__icon {
    position: relative;
    z-index: 5;
    font-size: 24px;
    color: #262f56;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__item {
    background-color: #fff;
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  &__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333333;
    background-color: #fff;
    &::before {
      background-color: #fff;
    }
  }

  &__input {
    font-size: 14px;
    color: #616161;
    width: 100%;
    padding-right: 20px;
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
}
.icon-search {
}
.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  @include adaptiv-value("gap", 32, 10, 1);
  &__item {
  }

  &__item-favourites {
    color: #262f56;
    font-size: 24px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  &__item-user {
    overflow: hidden;
    border-radius: 50%;
    @include adaptiv-value("width", 40, 30, 1);
    @include adaptiv-value("height", 40, 30, 1);
  }
}
.icon-favorite {
}
.cart-header {
  &__icon {
    @extend .actions-header__item-favourites;
    position: relative;
    display: block;
    span {
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      color: #fff;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
      background-color: $orangeColor;
      border-radius: 50%;
    }
  }

  &__body {
  }

  &__list {
  }
}
.icon-cart {
}
.cart-list {
}

@media (max-width: 767px) {
  .icon__menu {
    @include adaptiv-value("margin-left", 32, 15, 1);
    z-index: 5;
    position: relative;
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .icon__menu::before,
  .icon__menu::after,
  .icon__menu span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .icon__menu.active::before,
  .icon__menu.active::after,
  .icon__menu.active span {
    background-color: #000;
  }
  .icon__menu::before,
  .icon__menu::after {
    content: "";
  }
  .icon__menu::before {
    top: 0;
  }
  .icon__menu::after {
    bottom: -2px;
  }
  .icon__menu span {
    top: 50%;
    transform: scale(1) traslate(0px, -50%);
  }
  .icon__menu.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .icon__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .icon__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f9f1e7;
    padding: 100px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: -100%;
    height: 40px;
    background-color: #f9f1e7;
  }
  .menu__body.active::before {
    left: 0;
  }
  .menu__list {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: 24px;
  }
  .menu__list > li {
    flex-wrap: wrap;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
    color: $orangeColor;
  }
  .menu__sub-link {
    font-size: 18px;
  }
  .menu__arrow {
    font-size: 14px;
    color: $orangeColor;
  }
  .menu__sub-list {
    margin: 10px -15px;
  }
  .menu__sub-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .menu__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
