.ibg {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
 }
 .ibg img{
 position: absolute;
 width: 0;
 height:0;
 top: 0;
 left: 0;
 opacity: 0;
 visibility: hidden;
 }