@import 'nullstyle.scss';
@import 'fonts.scss';
@import 'iconsFont.scss';
@import 'mixins.scss';
@import 'ibg.scss';
@import 'base.scss';

$fontFamily: 'Gilroy';
//
$mainColor:#3A3A3A;
$secondColor:#898989;
$orangeColor:#E89F71;
//
$fontSize:16px;
//
$containerWidth:1270px;

//md query
// $pc: $containerWidth + $containerPadding;
$tablet: 991.98px;
$mobile:767.98px;
$mobileSmall:479.98px;


body{
   font-family: $fontFamily;
   color:$mainColor;
   @include adaptiv-value('font-size',16,14,1);
 .lock & {
   overflow: hidden;
   touch-action: none;
   overscroll-behavior: none;
 }
}
.wrapper{
	min-height: 100%;
	display:flex;
	flex-direction:column;
	overflow: hidden;
}
//footer to the bottom
 main{
   flex: 1 1 auto;
}
//slider fix
* {
   min-width: 0;
}
[class*="__container"]{
   max-width: $containerWidth;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

@import 'header.scss';
@import 'footer.scss';
@import 'common.scss';
@import 'mainslider.scss';
@import 'swiper.scss';
@import 'products.scss';
@import 'rooms.scss';
@import 'tricks.scss';

.page {

   &__benefits {

   }
}
.benefits {
@include adaptiv-value('padding-top',88,40,1);
@include adaptiv-value('padding-bottom',88,40,1);
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {
      display: inline-grid;
      padding: 15px 0px;
      grid-template: auto auto / 85px 1fr;
      @media (max-width:$tablet){
        min-width: 280px;
      }
      @media (max-width:$mobile){
         grid-template: auto auto / auto 1fr;
       }
   }
}
.item-benefits {

   &__image {
      text-align: center;
      align-self: center;
      grid-row: span 2;
      @media (max-width:$mobile){
       padding: 0px 15px 0px 0px;
      }
   }

   &__title {
      color:#3A3A3A;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
   }

   &__text {
      font-weight: 500;
      color:#898989;
      line-height: 150%;
   }
}
